html {
    scroll-behavior: smooth;
    cursor: none;
}

body {
    overflow-x: hidden;
    background-color: var(--color-oscuro);

}

body,
input,
textarea,
input[type="submit"] {
    cursor: none !important;
}

a {
    cursor: none !important;
}

body.dark {
    --color-oscuro: #0e1111;
    --color-navbar: #F4F4DE;
    --color-texto: #F4F4DE;
    --color-pieFoto: #e3e3d0;
    --color-formulario: #1c1c1c;
    --color-oscuro-LowOP: rgba(14, 17, 17, 0.8);
    --color-submit-button: #d4d4c9;
}

:root {
    --color-fondo: #FF0000;
    --color-texto: #0e1111;
    --color-navbar: #0e1111;
    --color-oscuro: #fafaeb;
    --color-pieFoto: #0e1111;
    --color-formulario: #e7e7d5;
    --color-oscuro-LowOP: rgba(244, 244, 222, 0.8);
    --color-submit-button: #3e3e3e;
}

* {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    box-sizing: border-box;
    cursor: none;
    margin: 0;
    padding: 0;
}

hr {
    margin: 0 0 15px 0;
    opacity: 1;
    border: 1.5px solid var(--color-texto);
}

.nav-link {
    color: var(--color-texto);
}

.nav-link:hover {
    color: var(--color-texto);
}

.splash-container {
    position: relative;
    height: 100vh;
}

.imgAbout {
    width: 25vh;
    height: 25vh;
}

header {
    display: flex;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
}

.navbar-index {
    background-color: var(--color-oscuro);
    margin: 0;
}

.textContainerProyecto1 {
    font-size: 2vh;
    margin: 0 0 0 0;
    text-align: justify;
    background-color: var(--color-oscuro);
}

.image1Proyecto1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-logo-cactustree {
    font-weight: 700;
    z-index: 10;
    /* font-family: 'Engage', sans-serif; */
    font-size: 9vw;
    color: red;
    position: absolute;
    top: 60%;
    left: 50%;
    font-style: italic;
    transform: translate(-50%, -50%);
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--color-oscuro);
    color: var(--color-pieFoto);
    text-align: left;
    padding: 7.5px 15px 15px 15px;
    bottom: 0;
    font-size: 1.8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: #F4F4DE;
}

.table-footer-index {
    width: 100%;
    border-collapse: collapse;
}

.link-footer-index {
    color: var(--color-pieFoto);
    text-decoration: none;
    position: relative;
}

.link-footer-index-description {
    color: var(--color-navbar);
    text-decoration: none;
    position: relative;
}

.link-footer-index:hover::after {
    width: 100%;
}

.link-footer-index:visited,
.link-footer-index:active {
    color: var(--color-pieFoto);
    text-decoration: none;
}

.rightAlign-footer-index {
    color: var(--color-pieFoto);
    text-align: right;
    align-content: right;
}

p {
    color: var(--color-texto);
}

.inner-cursor,
.outer-cursor,
.custom-text {
    position: fixed;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.terceraImagen {
    padding: 0px 15px 0px 15px;
    background-color: var(--color-oscuro);
}


.quintaImagen {
    margin: 0;
    padding: 0px 15px 0px 15px;
    width: 100%;
    z-index: 100;
    background-color: var(--color-oscuro);
}

.sextaImagen {
    width: 100%;
    background-color: var(--color-oscuro);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-text {
    color: #fff;
    font-size: 2vh;
    margin-top: -10px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: width 1s, height 1s;
    z-index: 101000;
}

.inner-cursor {
    position: fixed;
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 10001;
}

.outer-cursor {
    display: none;
    position: fixed;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    background-color: transparent;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 10001;
}

.projects,
.moments {
    width: 100%;
    box-sizing: border-box;
}

.fila {
    display: flex;
    flex-wrap: wrap;
}

.foto,
.foto1 {
    width: 100%;
    box-sizing: border-box;
}

.foto img,
.foto1 img {
    width: 60%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.navbar {
    display: none;
    position: fixed;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
}

.navbar.visible {
    display: block;
}

.navbar a {
    display: block;
    border-radius: 50%;
    border: 0.1vw solid #F4F4DE;
    width: 1.8vh;
    height: 1.8vh;
    margin: 1.4vh 0;
    overflow: hidden;
    position: relative;
}

.navbar a.black::after {
    content: '';
    background-color: var(--color-navbar);
    position: absolute;
    bottom: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.navbar a::after {
    content: '';
    background-color: #e3e3d0;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: height 0.3s ease;
}

.navbar a:hover::after,
.navbar a.active::after {
    height: 100%;
}

.container-navegacion {
    z-index: -1;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container {
    position: relative;
    z-index: 999999;
}

.navbar {
    position: fixed;
}

.section-name.dark {
    color: red;
    background-color: red;
}

.section-name {
    display: none;
    white-space: nowrap;
    position: absolute;
    color: #F4F4DE;
    font-size: 2vh;
    text-align: right;
    padding-right: 2vh;
    transform: translateX(-100%) translateY(-3.3vh);
}

.navbar li.active .section-name {
    display: block;
}

@media only screen and (max-width: 1000px) {

    * {
        cursor: auto !important;
    }

    .text-logo-cactustree {
        top: 58% !important;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: left;
    }

    .centered-text2 {
        text-align: justify;
    }

    nav ul li a {
        font-size: 3vw;
    }

    .inner-cursor,
    .outer-cursor,
    .custom-text {
        display: none !important;

    }

    .textContainerProyecto1 {
        font-size: 2vh;
        text-align: justify;
    }

    .projects,
    .moments {
        width: 100%;
        box-sizing: border-box;
    }

    .fila {
        display: flex;
        flex-wrap: wrap;
    }

    .foto,
    .foto1 {
        width: 100%;
        box-sizing: border-box;
    }

    .foto img,
    .foto1 img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.5s ease, filter 0.5s ease;
    }

    .container-header-intro,
    .container-header-zero,
    .container-header-stills,
    .container-header-gallery {
        display: block !important;
    }

    .text-container-gallery-text-left {
        padding: 23px 7.5px 0 7.5px !important;
    }

    .pieFoto,
    .textoGrande {
        margin-top: 7.5px !important;
    }

    .textoGrande {
        margin-bottom: 7.5px;
    }

    .pieFotoStills {
        padding: 0 !important;
        margin-left: 0 !important;
        text-align: justify;
    }

    .text-container-stills-text-left img {
        padding: 23px 0 0 0 !important;
    }

    .custom-arrow,
    .custom-left-arrow,
    .custom-right-arrow {
        display: none;
    }

    .navbar {
        display: none !important;
    }

    .text-container-gallery-text-left,
    .text-container-gallery-text-right {
        display: block !important;
        text-align: justify;

    }

    .text-container-gallery-text-right {
        margin-top: 15px;
    }

    .tableIntro {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .tableZero {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .image-artgallery-gallery,
    .text-container-gallery-text-left,
    .text-container-gallery-text-right,
    .text-container-stills-text-left,
    .text-container-stills-text-right,
    .text-container-zero-text-left,
    .text-container-zero-text-right,
    .text-container-ski-text-left,
    .text-container-ski-text-right,
    .text-container-intro-text-left,
    .text-container-intro-text-right,
    .text-container-zero-text-left-photo,
    .text-container-intro-text-left-photo,
    .text-container-ski-text-left-photo,
    .text-container-photos-text-left-photo {
        width: 100% !important;
    }

    .text-container-stills-text-right {
        padding: 0 !important;
    }

    .responsive-text .textTableIntro {
        font-size: 14px;
    }

    .circle,
    .text,
    .text span,
    .center-image {
        display: none;
    }

    .imagenCentro img {
        width: 80% !important;

    }

    .navbar-left {
        margin-left: 10% !important;
    }

    .navbar-right {
        margin-right: 10% !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon,
    .carousel-indicators {
        opacity: 0 !important;
    }

    .navbar-top ul {
        font-size: 14px;
    }

    .foto3 img {
        width: auto;
    }

}

.fila {
    display: flex;
}

.foto {
    width: calc(100%);
    overflow: hidden;
    position: relative;
}

.foto img,
.foto .imagen1-hover img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}

.foto .imagen1-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.imagen1-hover {
    width: 100%;
}

.foto:hover .overlay-text {
    opacity: 1;
}

.foto:hover .imagen1 img {
    opacity: 0;
}

.foto:hover .imagen1-hover {
    display: block;
    opacity: 1;
}

.foto:not(:hover) img {
    opacity: 1;
}

.foto1 {
    width: calc(100%);
    overflow: hidden;
    position: relative;
}

.foto1 img,
.foto2 img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0 7.5px 0 7.5px;
}

.foto3 {
    z-index: 1001;
}

.foto3 img {
    width: 100%;
    height: auto;
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.submit-form {
    margin: 15px 0 7.5px 0;
}

.overlay-text-mid {
    top: 50% !important;
}

#preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99999;
    overflow: hidden;
    background-color: var(--color-texto);
}

.hide {
    animation: slide-up 1s ease-out forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

#preloader.no-animation {
    display: none;
}

.no-animation {
    animation: none !important;
    display: none !important;
}

.ceroImagen {
    width: 100%;
    height: 100vh;
    background-color: var(--color-oscuro);
}

.ceroImagen video,
.imagenCentro img {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    max-height: 90vh;
}

.rightContent form {
    display: flex;
    flex-direction: column;
}

label {
    color: #fff;
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    background-color: var(--color-formulario);
    border: none;
    color: var(--color-texto);
    border-bottom: 2px solid #0F1111;
    transition: border-bottom 0.3s ease;
}

textarea {
    resize: none;
}

input[type="submit"] {
    background-color: var(--color-texto);
    color: var(--color-oscuro);
    transition: background-color 0.3s ease;
}

input,
textarea {
    margin: 7.5px 0;
}

input[type="submit"]:hover {
    background-color: var(--color-submit-button);
}

input:hover,
textarea:hover {
    border-bottom: 3px solid var(--color-submit-button);
}

.cuartaImagen {
    background-color: var(--color-oscuro);
    padding: 15px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.img-artgallery {
    width: 100%;
}

.videoIframe {
    z-index: 1000;
}

.pieFoto {
    background-color: var(--color-oscuro) !important;
    color: var(--color-pieFoto);
    font-size: 1.8vh;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7.5px;
}

.textoGrande {
    font-size: 2vh;
    margin-left: 7.5px;
}

.textoMid p {
    font-size: 2.5vh;
}

.textoMidNegrita {
    font-family: 'ClashDisplay-Bold';
    font-size: 2.5vh;
}

.negritaIntro {
    font-weight: bold;
}

.tableIntro {
    width: 60%;
    border-collapse: collapse;
    margin-left: 40vh;
}

.tableIntro td {
    width: 60%;
    padding-top: 15px;
}

.tableZero td {
    width: 77%;
    padding-top: 15px;
}

.textTableIntro {
    margin: 0;
    padding: 0;
}

.centered-text2 {
    color: var(--color-texto);
}

.rightContent h2 {
    color: var(--color-texto);
}

.circle {
    z-index: 9999;
    position: fixed;
    padding: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: rotate 15s linear infinite;
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 10px;
    font-weight: bold;
    color: var(--color-texto);
    transform-origin: 0 50px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content-top-intro {
    margin: 7.5px;
}


.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .05;
    z-index: 100000;
    pointer-events: none;
    background: url(noise.gif);
}

.navbar-top ul {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.navbar-left,
.navbar-right {
    display: flex;
}

.navbar-left li,
.navbar-right li {
    list-style: none;
}

.navbar-index {
    width: 100%;
    position: absolute;
    top: 0;
}

.projects-navbar {
    margin-right: 10px;
}

.navbar-left {
    margin-left: 25%;
}

.navbar-left-intro {
    display: flex;
    margin-left: 7.5px;
    list-style: none;
}

.navbar-right-intro {
    display: flex;
    margin-right: 22.5px;
    list-style: none;
}

.navbar-right {
    margin-right: 25%;
}

.navbar-top ul {
    margin: 0;
    padding: 0;

}

.stills-section-image {
    width: 19.246vw;
    padding: 15px 0 15px 0;

}

.projects-section-image {
    width: 30vw;
    padding: 15px 0 15px 0;
}

.carousel-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #F4F4DE;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.carousel:hover .carousel-text.stills {
    transform: translateY(-100%);
    opacity: 0;
}

.carousel:hover .carousel-text.view-more {
    transform: translateY(0);
    opacity: 1;
}

.carousel-text.view-more {
    transform: translateY(100%);
    opacity: 0;
}

.project-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #F4F4DE;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.foto:hover .project-text.stills,
.foto:hover .project-text.zero {
    transform: translateY(-100%);
    opacity: 0;
}

.foto:hover .project-text.view-more {
    transform: translateY(0);
    opacity: 1;
}

.project-text.view-more {
    transform: translateY(100%);
    opacity: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

#myCarousel:hover .carousel-control-prev-icon,
#myCarousel:hover .carousel-control-next-icon,
#myCarousel:hover .carousel-indicators {
    opacity: 1;
}

.container-all-intro,
.container-all-zero {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 7.5px;
    background-color: var(--color-oscuro);
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.container-header-intro,
.container-header-zero,
.container-header-stills,
.container-header-gallery {
    display: flex;
}

.image-container-photo-top img {
    width: 100%;
    padding: 7.5px 7.5px 0 7.5px;
}

.text-container-zero-text-left-photo {
    display: flex;
    width: 25%;
    margin: 0 0 15px 0;
}

.text-container-ski-text-left-photo,
.text-container-intro-text-left-photo,
.text-container-photos-text-left-photo {
    display: flex;
    width: 25%;
    margin: 15px 0 15px 0;  
}

.text-container-intro-text-left,
.text-container-zero-text-left,
.text-container-stills-text-left {
    display: flex;
    width: 25%;
    text-align: left;
}

.text-container-contact-text-left {
    display: flex;
    width: 34.5vw;
    text-align: left;
}

.text-container-aboutme-text-left {
    display: flex;
    width: 35.4vw;
    text-align: left;
}

.text-container-intro-text-left img,
.text-container-zero-text-left img {
    width: 100%;
    padding: 23px 7.5px 7.5px 7.5px;
}

.text-container-contact-text-left img {
    width: 100%;
}

.text-container-aboutme-text-left img {
    width: 100%;
    padding: 0 0 15px 0;
}

.text-container-gallery-text-left {
    padding: 23px 15px 15px 7.5px;
    display: flex;
    flex-direction: column;
}

.image-artgallery-gallery {
    width: 50vw;
}

.text-container-stills-text-left img {
    width: 100%;
    padding: 15px 15px 15px 0;
}

.text-container-intro-text-right,
.text-container-zero-text-right,
.text-container-stills-text-right,
.text-container-gallery-text-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 7.5px;
    width: calc(73% + 15px);
}

.stills-container-top {
    justify-content: space-between;
    padding: 15px 15px 0 15px;
    background-color: var(--color-oscuro);
}

.stills-container {
    background-color: var(--color-oscuro);
    display: flex;
    flex-wrap: wrap;
    padding: 7.5px;
    box-sizing: border-box;
}

.still-image {
    padding: 0;
    margin: 0;
    display: block;
    flex: 1 1 auto;
    max-width: calc(100% - 15px);
}

.color-picker {
    display: flex;
}

.color-box {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.image-collage {
    z-index: 1001;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.still-image {
    object-fit: cover;
}

.container-text-stills {
    padding: 15px 0 15px 0;
    width: 20%;
}

.container-text-stills-image {
    width: 100%;
}

.container-text-stills-right {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.scrolling-text,
.scrolling-text-index {
    white-space: nowrap;
    overflow: hidden;
}

.scrolling-text p {
    background-color: var(--color-oscuro);
    display: inline-block;
    animation: scroll 20s steps(20) infinite;
    width: 200%;
    margin: 0;
}

.container-scroll-index {
    background-color: var(--color-oscuro);
    padding: 15px 15px 0 15px;
}

.scrolling-text-index p {
    background-color: var(--color-oscuro);
    display: inline-block;
    animation: scroll 20s steps(20) infinite;
    width: 200%;
    margin: 0;
    padding: 0 15px 0 15px;
}


@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.hidden {
    display: none;
}

.gallery-container-top {
    padding: 7.5px 7.5px 0 7.5px;
    background-color: var(--color-oscuro);
}

.gallery-container-bottom {
    padding: 15px;
    background-color: var(--color-oscuro);
}

.gallery-container-bottom img {
    width: 100%;
}

.container-gallery-image1-bottom p {
    margin: 0;
    padding: 0;
}

.carousel-inner {
    width: 100%;
}

.container-hr {
    padding: 0 15px 0 15px;
    background-color: var(--color-oscuro);
}

.container-hr hr {
    background-color: var(--color-oscuro);
}

.container-carousel-bottom {
    padding: 0 15px 15px 15px;
    background-color: var(--color-oscuro);
}

.container-carousel-bottom img {
    height: 20vh;
    width: 100%;
}

.custom-arrow {
    background: none;
    border: none;
    color: #F4F4DE;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.custom-left-arrow {
    left: 15px;
}

.custom-right-arrow {
    right: 15px;
}

.carousel-container .custom-arrow {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carousel-container:hover .custom-arrow {
    opacity: 1;
}

/* Estilos para desktop */
.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.grid-item {
    flex: 1 1 calc(25% - 15px);
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .grid-item {
        flex: 1 1 calc(50% - 15px);
    }
}
