@import url('clash-display.css');
@import url('Cralika.css');
@import url('Futura.css');

html {
    scroll-behavior: smooth;
    cursor: none;
}

body {
    overflow-x: hidden;

}

body,
input,
textarea,
input[type="submit"] {
    cursor: none !important;
}

a {
    cursor: none !important;
}

body.dark {
    --color-oscuro: #0e1111;
    --color-navbar: #F4F4DE;
    --color-texto: #F4F4DE;
    --color-pieFoto: #e3e3d0;
    --color-formulario: #1c1c1c;
    --color-oscuro-LowOP: rgba(14, 17, 17, 0.8);
}

:root {
    --color-fondo: #FF0000;
    --color-texto: #0e1111;
    --color-navbar: #0e1111;
    --color-oscuro: #fafaeb;
    --color-pieFoto: #0e1111;
    --color-formulario: #e7e7d5;
    --color-oscuro-LowOP: rgba(244, 244, 222, 0.8);
}

* {
    font-family: 'JetBrains Mono', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

::selection {
    background-color: var(--color-fondo);
}

hr {
    margin: 0 0 15px 0;
    opacity: 1;
    border: 1.5px solid #0e1111;
}

.splash-container {
    position: relative;
    height: 100vh;
}

.imgAbout {
    width: 25vh;
    height: 25vh;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 200;
    color: var(--color-texto);
    text-align: center;
    line-height: 90vh;
    transition: transform 1s ease-in-out;
}

.splash.hide {
    transform: translateY(-100%);
}

.imageFooter {
    vertical-align: bottom;
    width: 2.8vh;
    height: 2.8vh;
}

header {
    display: flex;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
}

.navbar-index {
    background-color: var(--color-oscuro);
    margin: 0;
}

.navBarMomentos li a,
.navBarProyectos li a {
    color: #F4F4DE !important;
}

.bodyIndex {
    background-color: var(--color-oscuro);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: none;
}

.bodyAbout {
    background-color: #0e1111;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.bodyProyecto1 {
    background-color: var(--color-oscuro);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.bodyStills {
    background-color: var(--color-oscuro);
    height: 100vh;
    margin: 8.7vh 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.bodyPhoto {
    background-color: var(--color-oscuro);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative
}

.textContainerProyecto1 {
    font-size: 2vh;
    margin: 0 0 0 0;
    text-align: justify;
    background-color: var(--color-oscuro);
}

.textContainerPhoto {
    margin-top: 5%;
    font-size: 2vh;
    width: 100%;
    text-align: justify;
}

.photo-link-new {
    position: relative;
    display: inline-block;
}

.photo-img-new {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container-new {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image1Proyecto1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logoCactusTree {
    height: 3vh;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textLogo,
.mail {
    font-family: "Alte Haas Grotesk", Arial, Helvetica, sans-serif;
    color: var(--color-fondo);
}

.textLogo {
    font-size: 4vh;
}

.text-logo-cactustree {
    font-weight: 700;
    z-index: 10;
    font-family: 'Engage', sans-serif;
    font-size: 7vw;
    color: red;
    position: absolute;
    top: 60%;
    left: 50%;
    font-style: italic;
    transform: translate(-50%, -50%);
}

.container-text-intro {
    height: 10vh;
}

.text-logo-cactustree-intro {
    z-index: 1;
    font-family: 'Engage', sans-serif;
    font-size: 7vw;
    color: red;
    position: absolute;
    left: 50%;
    top: 10%;
    font-style: italic;
    transform: translate(-50%, -50%);

}

.mail {
    font-size: 1.8vh;
}

.textApartados {
    font-size: 8vw;
    color: var(--color-fondo);
}

.contactoArriba {
    margin-top: 10vh;
    color: #f7e507;
    font-size: 2.3vw;
}

.contactoAbajo {
    margin-top: 10vh;
    color: #f7e507;
    font-size: 2vw;
}

.aboutTextContainer {
    margin-top: 10vh;
}

.aboutArriba,
.aboutMedio,
.aboutAbajo {
    color: var(--color-texto);
    font-size: 3vh;
    width: 70%;
    margin: 0 0 0 10vh;
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--color-oscuro);
    color: var(--color-pieFoto);
    text-align: left;
    padding: 7.5px 15px 15px 15px;
    bottom: 0;
    font-size: 1.8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: #F4F4DE;
}


.table-footer-index {
    width: 100%;
    border-collapse: collapse;
}

.link-footer-index {
    color: var(--color-pieFoto);
    text-decoration: none;
    position: relative;
}

.link-footer-index-description {
    color: var(--color-navbar);
    text-decoration: none;
    position: relative;
}

.link-footer-index::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.2px;
    bottom: 0;
    left: 0;
    background-color: #F4F4DE;
    transition: width .3s;
}

.link-footer-index:hover::after {
    width: 100%;
}

.link-footer-index:visited,
.link-footer-index:active {
    color: var(--color-pieFoto);
    text-decoration: none;
}

.white-footer-index {
    color: var(--color-pieFoto);
}

.rightAlign-footer-index {
    color: var(--color-pieFoto);
    text-align: right;
    align-content: right;
}

.footerLeft,
.footerRight {
    width: 50%;
}

.contactContainer {
    color: var(--color-texto);
    font-size: 3vh;
    margin: 15vh 0 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    color: var(--color-texto);
}

.pequegnito p {
    width: 50%;
    text-align: justify;
    margin-left: 10vh;
}

.icono-correo,
.llamada-correo {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    margin-right: 1vh;
}

.centered-text {
    margin-top: 45vh;
    text-align: center;
    color: var(--color-texto);
}

.centered-text1 {
    text-align: center;
    color: var(--color-texto);
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-fondo {
    color: wheat;
    width: 100%;
    height: 100%;
}

#contenido1 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#contenido5 {
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#contenido5 header {
    background-color: var(--color-fondo);

}

#contenido2 ul {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1%;
}

.inner-cursor,
.outer-cursor,
.custom-text {
    position: fixed;
}

#cursorText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: red;
    pointer-events: none;
}

.logo {
    height: 6vh;
    width: 6vh;
    position: fixed;
    top: 0.3vh;
    right: 0.3vh;
    user-select: none;
    z-index: 999999;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: -10;
    color: var(--color-texto);
    text-align: center;
    line-height: 90vh;
    transition: all 1s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.splash.fade-out {
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    font-family: "NT Wagner", Arial, Helvetica, sans-serif;
    z-index: 1;
}

.slide-up {
    transform: translateY(-100%);
    pointer-events: none;
}

.separator {
    background-color: var(--color-texto);
    width: 100%;
    height: 15vw;
}

.title {
    color: var(--color-texto);
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.primeraImagen,
.segundaImagen {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.primeraImagen {
    background-image: url("../img/fondo.jpeg");
}

.segundaImagen {
    background-image: url("../img/moments/momento1.jpeg");
}

.terceraImagen {
    padding: 0px 15px 0px 15px;
    background-color: var(--color-oscuro);
}


.quintaImagen {
    margin: 0;
    padding: 0px 15px 0px 15px;
    width: 100%;
    z-index: 100;
    background-color: var(--color-oscuro);
}

.sextaImagen {
    width: 100%;
    background-color: var(--color-oscuro);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-text {
    color: #fff;
    font-size: 2vh;
    letter-spacing: 1vh;
    margin-top: -10px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: width 1s, height 1s;
    font-family: "Alte Haas Grotesk", Arial, Helvetica, sans-serif;
    z-index: 101000;
}

.inner-cursor {
    position: fixed;
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 5000;
}

.outer-cursor {
    display: none;
    position: fixed;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    background-color: transparent;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 5001;
}

.projects,
.moments {
    width: 100%;
    box-sizing: border-box;
}

.fila {
    display: flex;
    flex-wrap: wrap;
}

.foto,
.foto1 {
    width: 100%;
    box-sizing: border-box;
}

.foto img,
.foto1 img {
    width: 60%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.navbar {
    display: none;
    position: fixed;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
}

.navbar.visible {
    display: block;
}

.navbar a {
    display: block;
    border-radius: 50%;
    border: 0.1vw solid #F4F4DE;
    width: 1.8vh;
    height: 1.8vh;
    margin: 1.4vh 0;
    overflow: hidden;
    position: relative;
}

.navbar a.black::after {
    content: '';
    background-color: var(--color-navbar);
    position: absolute;
    bottom: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.navbar a::after {
    content: '';
    background-color: #e3e3d0;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: height 0.3s ease;
}

.navbar a:hover::after,
.navbar a.active::after {
    height: 100%;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container {
    position: relative;
    z-index: 999999;
}

.navbar {
    position: fixed;
}

.section-name.dark {
    color: red;
    background-color: red;
}

.section-name {
    display: none;
    white-space: nowrap;
    position: absolute;
    color: #F4F4DE;
    font-size: 2vh;
    text-align: right;
    padding-right: 2vh;
    transform: translateX(-100%) translateY(-3.3vh);
}

.navbar li.active .section-name {
    display: block;
}

@media only screen and (max-width: 1000px) {

    * {
        cursor: auto !important;
    }

    .text-logo-cactustree {
        top: 58% !important;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: left;
    }

    .centered-text2 {
        text-align: justify;
    }

    nav ul li a {
        font-size: 3vw;
    }

    nav ul li a:hover {
        font-size: 3.5vw;
    }

    .inner-cursor,
    .outer-cursor,
    .custom-text {
        display: none !important;

    }

    .textLogo {
        font-size: 7vw;
        /* font-size: 4vw; */
    }

    .mail {
        /* margin-top: -200px; */
        font-size: 1.8vw;
        text-decoration: none;
        font-family: "NT Wagner", Arial, Helvetica, sans-serif;
        /* font-size: 1.4vw; */
    }

    .textContainerProyecto1 {
        font-size: 2vh;
        text-align: justify;
    }

    .logoCactusTree {
        height: 4vw;
    }

    .mail {
        font-size: 3vw;
    }

    .projects,
    .moments {
        width: 100%;
        box-sizing: border-box;
    }

    .fila {
        display: flex;
        flex-wrap: wrap;
    }

    .foto,
    .foto1 {
        width: 100%;
        box-sizing: border-box;
    }

    .foto img,
    .foto1 img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.5s ease, filter 0.5s ease;
    }

    .navbar {
        display: none !important;
    }

    .aboutArriba,
    .aboutMedio,
    .aboutAbajo,
    .contactContainer {
        display: none;
    }

    #mainCloud {
        width: 90% !important;
    }

    #mainCloud1 {
        width: 90% !important;
    }

    .responsive-table,
    .responsive-table tbody,
    .responsive-table tr,
    .responsive-table td {
        width: 100% !important;
        display: block;
        box-sizing: border-box;
    }

    .tableIntro {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .tableZero {
        width: 100% !important;
        margin-left: 0 !important;
    }


    .movileVersion {
        display: none;
    }

    .container-Art img {
        width: calc(50% - 10px) !important;
        height: 39vh;
        object-fit: cover;
        margin-bottom: 10px;
        transition: transform 0.3s ease-in-out;
    }

    .container-Art1 img {
        width: calc(50% - 10px) !important;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px;
        transition: transform 0.3s ease-in-out;
    }

    .responsive-text .textTableIntro {
        font-size: 14px;
    }

    .hideFotoMovile {
        display: none;
    }

    #leftCloud,
    #leftCloud1,
    #leftCloud2,
    #rightCloud {
        display: none;
    }

    .logoMid {
        width: 80% !important;
    }

    .circle,
    .text,
    .text span,
    .center-image {
        display: none;
    }

    .imagenCentro img {
        width: 80% !important;

    }

    .navbar-left {
        margin-left: 10% !important;
    }

    .navbar-right {
        margin-right: 10% !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon,
    .carousel-indicators {
        opacity: 0 !important;
    }

    .navbar-top ul {
        font-size: 14px;
    }

    .foto3 img {
        width: auto;
    }
}

.headerAbout {
    background-color: var(--color-oscuro);
    color: var(--color-fondo);
    padding: 20px 0;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
}

.cactus-text {
    display: inline-block;
    padding-right: 20px;
    font-size: 1.5em;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.fila {
    display: flex;
}

.foto {
    width: calc(100%);
    overflow: hidden;
    position: relative;
}

.foto img,
.foto .imagen1-hover img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}

.foto .imagen1-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.imagen1-hover {
    width: 100%;
}

.foto:hover .overlay-text {
    opacity: 1;
}

.foto:hover .imagen1 img {
    opacity: 0;
}

.foto:hover .imagen1-hover {
    display: block;
    opacity: 1;
}

.foto:not(:hover) img {
    opacity: 1;
}

.foto1 {
    width: calc(100%);
    overflow: hidden;
    position: relative;
}

.foto1 img,
.foto2 img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.foto-container,
.imageContainerIntro {
    display: flex;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0 7.5px 0 7.5px;
}

.foto3 {
    z-index: 1001;
}

.foto3 img {
    width: 100%;
    height: auto;
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-texto);
    font-size: 4vh;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay-text-mid {
    top: 50% !important;
}

.overlay-text-small {
    font-size: 2.5vh;
    position: absolute;
    color: var(--color-texto);
    top: 50%;
    text-align: center;
    width: 100%;
}

#preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99999;
    overflow: hidden;
    background-color: var(--color-texto);
}

.hide {
    animation: slide-up 1s ease-out forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

#preloader.no-animation {
    display: none;
}

.no-animation {
    animation: none !important;
    display: none !important;
}

.textGlossy {
    font-family: "glossy personal use", Arial, Helvetica, sans-serif;
    font-size: 1vw;
    text-align: center;
}

#centerImage {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.ceroImagen {
    width: 100%;
    height: 100vh;
    background-color: var(--color-oscuro);
}

.ceroImagen video,
.imagenCentro img {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    max-height: 90vh;
}

.logoMid {
    width: 90vw;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    top: 25vh;
    left: 15vh;
    display: flex;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: var(--color-texto);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.leftContent img {
    margin-top: 10vh;
    width: 45vh;
}

.tableIndex {
    width: 100%;
    border-collapse: collapse;
}

.tableIndex td {
    padding: 15px;
    /* border: 1px solid red; */
    width: 70%;
}

.leftContent img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.rightContent form {
    display: flex;
    flex-direction: column;
}

label {
    color: #fff;
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    background-color: var(--color-formulario);
    border: none;
    color: #0F1111;
    border-bottom: 2px solid #0F1111;
    transition: border-bottom 0.3s ease;
}

textarea {
    resize: none;
}

input[type="submit"] {
    background-color: red;
    color: var(--color-oscuro);
    transition: background-color 0.3s ease;
}

input,
textarea {
    margin: 1.3vh 0;
}

input[type="submit"]:hover {
    background-color: #ca0000;
}

input:hover,
textarea:hover {
    border-bottom: 2px solid #a2a2a2;
}

.container-Art {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.container-Art img {
    width: calc(20% - 10px);
    height: 39vh;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.container-Art img:hover {
    transform: scale(1.09);
}

.container-Art1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.container-Art1 img {
    width: calc(20% - 10px);
    height: 39vh;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.container-Art1 img:hover {
    transform: scale(1.09);
}

.titulo2Texto {
    font-family: 'ClashDisplay-Bold';
    font-size: 8vh;
    color: var(--color-texto);
    text-align: center;
    margin: 0;
}

.titulo2TextoZero {
    font-family: 'Cralika';
    font-size: 8vh;
    color: var(--color-texto);
    text-align: center;
}

.titulo2TextoSki {
    color: var(--color-texto);
    font-family: 'Akira Expanded', sans-serif;
    font-size: 6vh;
    text-align: center;
}

.titulo2TextoPhoto {
    width: 100%;
    color: var(--color-texto);
    font-family: 'Engage', sans-serif;
    font-size: 16vw;
    margin: -1vw 0 3vw 0;
    padding: 0;
    text-align: center;
    transition: color 0.5s ease-in-out;
}

.cuartaImagen {
    background-color: var(--color-oscuro);
    padding: 15px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.titulo2TextoPhotoIndex {
    font-family: 'DELIRIUM NCV', sans-serif;
    font-weight: 700;
    text-wrap: wrap;
    text-align: center;
    transition: color 0.5s ease-in-out;
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 100%;
}

.img-artgallery {
    width: 100%;
}

.textContainerStills {
    position: relative;
}

.titulo2TextoPhotoIndexStills {
    position: absolute;
    color: #F4F4DE;
    font-size: 6vw;
    font-family: 'Engage', sans-serif;
    margin-top: -350px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.5s ease-in-out;
}

.image-carrusel {
    width: 100%;
    margin-top: 10%;
}

.titulo2TextoPhoto:hover,
.titulo2TextoPhotoIndex:hover,
.titulo2TextoPhotoIndexStills:hover {
    color: red;
}

.photo-link-noStyle:visited,
.photo-link-noStyle:link,
.photo-link-noStyle:active {
    color: var(--color-texto);
    text-decoration: none;
}

.videoIframe {
    z-index: 1000;
}

.pieFoto {
    color: var(--color-pieFoto);
    font-size: 1.8vh;
    margin-top: 15px;
    margin-bottom: 15px;
}

.textoGrande {
    font-size: 2vh;
}

.textoMid p {
    font-size: 2.5vh;
}

.textoMidNegrita {
    font-family: 'ClashDisplay-Bold';
    font-size: 2.5vh;
}

.negritaIntro {
    font-weight: bold;
}

.tableIntro {
    width: 60%;
    border-collapse: collapse;
    margin-left: 40vh;
}

.tableIntro td {
    width: 60%;
    padding-top: 15px;
}

.tableZero td {
    width: 77%;
    padding-top: 15px;
}

.textTableIntro {
    margin: 0;
    padding: 0;
}

.tableIntro-stills {
    margin-top: 1000px;
}

.centered-text2 {
    color: var(--color-texto);
}

.rightContent h2 {
    color: var(--color-texto);
}

.cerovideo video {
    position: absolute;
    width: 10%;
    z-index: -1;
}

.art-centered-big-text {
    font-size: 30vh;
    padding: 0;
    margin: 0;
    margin-bottom: -5vh;
    font-family: 'Stora', sans-serif;
    color: var(--color-texto);
    transition: color 0.5s ease;
}

.art-centered-big-text:hover {
    color: red;
}

.no-style-link {
    color: inherit;
    text-decoration: none;
    background: none;
    font-size: inherit;
    padding: 0;
    border: none;
}

.top-moving-words {
    background-color: red;
}

.circle {
    z-index: 9999;
    margin-right: 1%;
    margin-top: -15vh;
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: rotate 10s linear infinite;
}

.text span {
    position: absolute;
    left: 50%;
    font-size: .5em;
    font-family: 'Stora', sans-serif;
    font-weight: bold;
    color: var(--color-texto);
    transform-origin: 0 50px;
}

.center-image {
    position: absolute;
    width: 60%;
    height: auto;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container1 {
    position: relative;
    display: inline-block;
}

.container1 img {
    width: 100%;
    height: auto;
    display: block;
}

.view-full-size {
    bottom: 10px;
    right: 10px;
    color: var(--color-texto);
}

.container1:hover .view-full-size {
    display: block;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-2,
.col-3,
.col-1,
.col-5 {
    margin: 15px;
}

.col-2-75 {
    flex: 0 0 calc(75% - 20px);
}

.col-2-25 {
    flex: 0 0 calc(25% - 20px);
}

.col-2 {
    flex: 0 0 calc(50% - 20px);
}

.col-4 {
    flex: 0 0 calc(25% - 20px);
}

.col-3 {
    flex: 0 0 calc(33.33% - 20px);
}

.col-1 {
    flex: 0 0 calc(100% - 20px);
}

.col-5 {
    flex: 0 0 calc(20% - 20px);
}

.col-2-60 {
    flex: 0 0 calc(60% - 20px);
    margin-bottom: 1vw;
}

.sticker-width {
    margin: 0;
    padding: 0;
}

.sticker-width img {
    width: 27.2vw;
    height: auto;
}

.text-column2-photo {
    width: 100%;
    text-align: justify;
}

.text-column2-photo-p {
    width: 100%;
    margin: 0;
    padding: 0;
}

@keyframes tonext {
    75% {
        left: 0;
    }

    95% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }

    95% {
        left: -300%;
    }

    98% {
        left: -300%;
    }

    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }

    97% {
        scroll-snap-align: none;
    }

    99% {
        scroll-snap-align: none;
    }

    100% {
        scroll-snap-align: center;
    }
}

.content-top {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.content-top-intro {
    margin: 7.5px;
}

.post-container {
    padding: 20px;
    margin-left: 15%;
    margin-top: 50px;
    width: 70%;
    height: 70vh;
    background-color: white;

}

.content-bottom {
    min-height: 100vh;
}

.content-bottom {
    justify-content: center;
}

.content-bottom-container {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    min-height: 100vh;
}

.text-bottom {
    margin-top: 100px;
}

.image-test-mainpage {
    width: 100%;
    height: auto;
}

.title-mainpage {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: 'Vanilla Personal', sans-serif;
    font-size: 6em;
    color: var(--font-color-blue);
    margin: 0;
}

.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .05;
    z-index: 1000;
    pointer-events: none;
    background: url(noise.gif);
}

.navbar-top ul {
    display: flex;
    justify-content: space-between;
}

.navbar-left,
.navbar-right {
    display: flex;
}

.navbar-left li,
.navbar-right li {
    list-style: none;
}

.navbar-index {
    width: 100%;
    position: absolute;
    top: 0;
}

.projects-navbar {
    margin-right: 10px;
}

.navbar-left {
    margin-left: 25%;
}

.navbar-left-intro {
    display: flex;
    margin-left: 7.5px;
    list-style: none;
}

.navbar-right-intro {
    display: flex;
    margin-right: 22.5px;
    list-style: none;
}

.navbar-right {
    margin-right: 25%;
}

.navbar-top ul {
    margin: 0;
    padding: 0;

}

.red-dot {
    font-family: 'DELIRIUM NCV', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-fondo);
}

.projects-section {
    font-family: 'DELIRIUM NCV', sans-serif;
    font-size: 20vw;
    margin: calc(-2.3vw) 0px calc(-7.1vw + 15px) -0.4vw;
    background-color: var(--color-oscuro);
}

.stills-section-image {
    width: 19.246vw;
    padding: 15px 0 15px 0;

}

.projects-section-image {
    width: 30vw;
    padding: 15px 0 15px 0;
}

.carousel-text {
    font-family: 'Helvetica', sans-serif, Arial;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: var(--color-oscuro);
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.carousel:hover .carousel-text.stills {
    transform: translateY(-100%);
    opacity: 0;
}

.carousel:hover .carousel-text.view-more {
    transform: translateY(0);
    opacity: 1;
}

.carousel-text.view-more {
    transform: translateY(100%);
    opacity: 0;
}

.project-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.foto:hover .project-text.stills,
.foto:hover .project-text.zero {
    transform: translateY(-100%);
    opacity: 0;
}

.foto:hover .project-text.view-more {
    transform: translateY(0);
    opacity: 1;
}

.project-text.view-more {
    transform: translateY(100%);
    opacity: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

#myCarousel:hover .carousel-control-prev-icon,
#myCarousel:hover .carousel-control-next-icon,
#myCarousel:hover .carousel-indicators {
    opacity: 1;
}

.container-all-intro,
.container-all-zero {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 7.5px;
    background-color: var(--color-oscuro);
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.container-header-intro,
.container-header-zero,
.container-header-stills,
.container-header-gallery {
    display: flex;
}

.text-container-intro-text-left,
.text-container-zero-text-left,
.text-container-stills-text-left {
    display: flex;
    width: 25%;
    text-align: left;
}

.text-container-contact-text-left {
    display: flex;
    width: 34.5vw;
    text-align: left;
}

.text-container-aboutme-text-left {
    display: flex;
    width: 35.4vw;
    text-align: left;
}

.text-container-intro-text-left img,
.text-container-zero-text-left img {
    width: 100%;
    padding: 23px 15px 7.5px 7.5px;
}

.text-container-contact-text-left img {
    width: 100%;
}

.text-container-aboutme-text-left img {
    width: 100%;
    padding: 0 0 15px 0;
}

.text-container-gallery-text-left {
    padding: 23px 15px 15px 7.5px;
    display: flex;
    flex-direction: column;
}

.image-artgallery-gallery {
    width: 50vw;
}

.text-container-stills-text-left img {
    width: 100%;
    padding: 15px 15px 15px 0;
}

.text-container-intro-text-right,
.text-container-zero-text-right,
.text-container-stills-text-right,
.text-container-gallery-text-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 7.5px;
    width: calc(73% + 15px);
}

.stills-container-top {
    justify-content: space-between;
    padding: 15px 15px 0 15px;
    background-color: var(--color-oscuro);
}

.stills-container {
    background-color: var(--color-oscuro);
    display: flex;
    flex-wrap: wrap;
    padding: 7.5px;
    box-sizing: border-box;
}

.still-image {
    padding: 0;
    margin: 0;
    display: block;
    flex: 1 1 auto;
    max-width: calc(100% - 15px);
}

.color-picker {
    display: flex;
}

.color-box {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.image-collage {
    z-index: 1001;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.still-image {
    object-fit: cover;
}

.container-text-stills {
    padding: 15px 0 15px 0;
    width: 20%;
}

.container-text-stills-image {
    width: 100%;
}

.container-text-stills-right {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.scrolling-text,
.scrolling-text-index {
    white-space: nowrap;
    overflow: hidden;
}

.scrolling-text p {
    background-color: var(--color-oscuro);
    display: inline-block;
    animation: scroll 20s steps(20) infinite;
    width: 200%;
    margin: 0;
}

.container-scroll-index {
    background-color: var(--color-oscuro);
    padding: 15px 15px 0 15px;
}

.scrolling-text-index p {
    background-color: var(--color-oscuro);
    display: inline-block;
    animation: scroll 20s steps(20) infinite;
    width: 200%;
    margin: 0;
    padding: 0 15px 0 15px;
}


@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.hidden {
    display: none;
}

.gallery-container-top {
    padding: 7.5px 7.5px 0 7.5px;
    background-color: var(--color-oscuro);
}

.gallery-container-bottom {
    padding: 0 15px 0 15px;
    background-color: var(--color-oscuro);
}

.gallery-container-bottom img {
    width: 100%;
}

.container-gallery-image1-bottom p {
    margin: 0;
    padding: 0;
}

.carousel-inner {
    width: 100%;
}

.container-hr {
    padding: 0 15px 0 15px;
    background-color: var(--color-oscuro);
}

.container-hr hr {
    background-color: var(--color-oscuro);
}

.container-carousel-bottom {
    padding: 0 15px 15px 15px;
    background-color: var(--color-oscuro);
}

.container-carousel-bottom img {
    height: 20vh;
    width: 100%;
}